extends ./layout.pug

block header
  h1= title
block content
  p.description A simple tool to help your journal your experiences.
  .landing.buttons
    a(href='#')
      button.login Sign in
    a(href='#')
      button.write Write
    a(href='#')
      button.register Sign up
block footer 
  p Thanks for taking a look at our service. We hope you'll come back